extends layout.jade

block content
    table(class="table table-hover")
        thead
            tr
                th id local
                th importerName
                th article
                th description
                th amount
                th priceBuy
                th priceSell
                th date
        tbody
        each importer, name in importers
            tr(class="",id="#{importer._id}")
                td #{importer._id}
                td
                    a(href="importer/#{importer.importerName}") #{importer.importerName}
                td #{importer.article}
                td #{importer.description}
                td #{importer.amount}
                td $ #{importer.priceBuy}
                td $ #{importer.priceSell}
                td #{importer.date}
                td 
                    form(method="POST", action="/importers/#{importer._id}")
                        input(type="hidden", name="_method", value="DELETE")
                        a(role="button", onclick="if(confirm('¿Are you shure you wanna delete this importer?')){this.parentNode.submit();}") Delete