extends layout.jade

block content
    div.container
        section(class="main row")
            div(class="container col-xs-12 col-sm-12 col-md-6 col-md-6")
                h2 Users
                form(class="form", method="POST", action="/users/save")
                    div(class="form-group")
                        label(for="inputName") Name
                        input(type="text", class="form-control", name="name", required="required", id="inputName", value="#{user.name}")
                    div(class="form-group")
                        label(for="mail") Mail
                        input(type="text", class="form-control", name="mail", id="mail", value="#{user.mail}")
                    div(class="form-group")
                        label(for="phone") Phone
                        input(type="text", class="form-control", name="phone", required="required", id="phone", value="#{user.phone}")
                    div(class="form-group")
                        label(for="problem") Problem
                        input(type="text", class="form-control", name="problem", required="required", id="problem", value="#{user.problem}")
                    div(class="form-group")
                        label(for="model") Model
                        input(type="text", class="form-control", name="model", required="required", id="model", value="#{user.model}")
                    div(class="form-group")
                        label(for="type") Type
                        input(type="text", class="form-control", name="type", required="required", id="type", value="#{user.type}")
                    div(class="form-group")
                        label(for="amount") Amount
                        input(type="text", class="form-control", name="amount", required="required", id="amount", value="#{user.amount}")
                    button(type="submit", class="btn btn-primary") Add Client


            div(class="container col-xs-12 col-sm-12 col-md-6 col-md-6")
                h2 Importers   
                form(class="form", method="POST", action="/importers/save")
                    div(class="form-group")
                        label(for="inputName") Article
                        input(type="text", class="form-control", name="article", required="required", id="inputName", value="#{importer.article}")
                    div(class="form-group")
                        label(for="importerName") Importer Name
                        input(type="text", class="form-control", name="importerName", id="importerName", value="#{importer.importerName}")
                    div(class="form-group")
                        label(for="description") description
                        input(type="text", class="form-control", name="description", required="required", id="description", value="#{importer.description}")
                    div(class="form-group")
                        label(for="priceBuy") priceBuy
                        input(type="text", class="form-control", name="priceBuy", required="required", id="priceBuy", value="#{importer.priceBuy}")
                    div(class="form-group")
                        label(for="priceSell") priceSell
                        input(type="text", class="form-control", name="priceSell", required="required", id="priceSell", value="#{importer.priceSell}")
                    button(type="submit", class="btn btn-primary") Add Importer