extends layout.jade

block content
    table(class="table table-hover")
        thead
            tr
                th Id
                th Name
                th mail
                th Phone
                th amount
                th model
                th type
                th problem
                th date
                th delete
        tbody
        each user, name in users
            tr
                td #{user._id}
                td #{user.name}
                td #{user.mail}
                td #{user.phone}
                td #{user.amount}
                td #{user.model}
                td #{user.type}
                td #{user.problem}
                td #{user.date}
                td 
                    form(method="POST" action="/users/#{user._id}")
                        input(type="hidden" name="_method" value="DELETE")
                        a(role="button" onclick="if(confirm('¿Are you shure you wanna delete this user?')){this.parentNode.submit();}") Delete